<% tag_list.each do |list| %>
  <%= link_to public_search_tag_path(tag_id: list.id), class:"btn btn-outline-light" do %>
    <span>
      <i class="fas fa-tag"></i> <%= list.tag_name %><%= "(#{list.questions.count})" %>
    </span>
  <% end %>
<% end %>