@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
* {font-family: 'Reggae One', cursive;}

body, nav{
  background-color: #222222;
}

.container{
  max-width: 1320px;
}

.nav-tabs .nav-link.activ{
  background-color: #ec6090;
}

.nav-tabs .nav-link{
  color: #ec6090;
}

.question-button {
  position: fixed;
  top: 20%;
  left: 83%;
  z-index: 10000;
}

.question-button a {
  width: 110px;
  height: 110px;
  color: weight;
  border-radius: 50%;
  font-size: 30px;
  border: 2px solid #666;
}

.question-button a i {
  font-size: 50px;
  color: #FF0033;
}

#word, #range, #search {
  background-color: #1f2122;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

a:hover {
  text-decoration: none;
}

.pagi-nation nav {
  text-align: center;
  background-color: #27292a;
}

.pagination {
  justify-content: center;
}

.page-item.active .page-link {
  background-color: #ec6090;
  border: solid 1px #ec6090;
}

.pagination li a {
  color: #ec6090;
}

@media screen and (max-width:1440px) {
  .question-button {
    position: fixed;
    top: 15%;
    left: 85%;
    z-index: 10000;
  }

  .question-button a {
    width: 110px;
    height: 110px;
    color: weight;
    border-radius: 50%;
    font-size: 30px;
    border: 2px solid #666;
  }
}

// ページネーション
// .pagination {
//   background-color: #ec6090;
//   text-align: center;
// }

// .pagination li a {
//   border: none;
//   color: #ec6090;
//   font-size: 17px;
// }

// .pagination .active a {
//   border-radius: 15px;
// }

// .pagination li a:hover {
//   border-radius: 15px;
// }

// @media screen and (max-width:768px) {
//   .question-button {
//     position: fixed;
//     top: 15%;
//     left: 60%;
//     z-index: 10000;
//   }

//   .question-button a {
//     width: 80px;
//     height: 80px;
//     color: weight;
//     border-radius: 50%;
//     font-size: 30px;
//     border: 2px solid #666;
//   }
// }

@media screen and (max-width:425px) {
  .question-button {
    position: fixed;
    top: 20%;
    left: 80%;
    z-index: 10000;
  }

  .question-button a i {
    font-size: 25px;
    color: #FF0033;
  }

  .question-button a {
    width: 80px;
    height: 80px;
    color: weight;
    border-radius: 50%;
    font-size: 20px;
    border: 2px solid #666;
  }
}