@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
* {font-family: 'Reggae One', cursive;}

body, nav{
  background-color: #222222;
}

.container{
  max-width: 1320px;
}

.nav-tabs .nav-link.activ{
  background-color: #ec6090;
}

.nav-tabs .nav-link{
  color: #ec6090;
}

.question-button {
  position: fixed;
  top: 20%;
  left: 83%;
  z-index: 10000;
}

.question-button a {
  width: 110px;
  height: 110px;
  color: weight;
  border-radius: 50%;
  font-size: 30px;
  border: 2px solid #666;
}

.question-button a i {
  font-size: 50px;
  color: #ec6090;
}

#word, #range, #search {
  background-color: #1f2122;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}