.main-button a {
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

body .page-content {
  margin-top: 70px;
  background-color: #27292a;
  padding: 60px;
  border-radius: 23px;
}

.main-banner h4 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

// .row {
//   --bs-gutter-x: 1.5rem;
//   --bs-gutter-y: 0;
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: calc(-1 * var(--bs-gutter-y));
//   margin-right: calc(-.5 * var(--bs-gutter-x));
//   margin-left: calc(-.5 * var(--bs-gutter-x));
// }

.container{
  max-width: 1320px;
}

.main-banner {
  background-image: url(./forest.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
}

.main-banner h4 em {
  font-style: normal;
  color: #ec6090;
}

// .main-button {
//   font-size: 14px;
//   color: #fff;
//   background-color: #e75e8d;
//   padding: 12px 30px;
//   display: inline-block;
//   border-radius: 25px;
//   font-weight: 400;
//   text-transform: capitalize;
//   letter-spacing: 0.5px;
//   transition: all .3s;
//   position: relative;
//   overflow: hidden;
// }







// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
