// 投稿画面
.initial{
  color: #ec6090;
  font-size: 40px;
}

.question-form {
  margin-bottom: 25px;
}

.up-button{
  margin-top: 3px;
  text-align: center;
}

.up-button input, .up-button a {
  font-size: 20px;
  color: #ec6090;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 50px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
  // border: 1px solid #ec6090;
  // border-radius: 100px;
  margin: 5px;
  padding: 17px;
}

#user_user_name, #user_email, #user_password, #user_password_confirmation, #user_telephone_number {
  font-family: "arial";
  background-color: #1f2122;
  color: white;
}

#user_email {
  border-radius: 10px 10px 0 0 ;
}

#user_password {
  border-radius: 0 0 10px 10px;
}