// Place all the styles related to the public/questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.container{
  max-width: 1320px;
}

body .page-content {
  margin-top: 30px;
  background-color: #27292a;
  padding: 30px;
  border-radius: 23px;
}

.errors, .error-details {
  color: red;
}

// 投稿画面
.initial{
  color: #ec6090;
  font-size: 40px;
}

label {
  border-left:  10px groove #ec6090;
  border-bottom: 1px solid #ec6090;
  padding-left: 5px;
  font-size: 25px;
}

.question-form {
  margin-bottom: 25px;
}

.up-button{
  margin-top: 3px;
  text-align: center;
}

.up-button input, .up-button a {
  font-size: 25px;
  color: #ec6090;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 50px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
  // border: 1px solid #ec6090;
  // border-radius: 100px;
  margin: 5px;
  padding: 17px;
}

#question_title, #question_question_images, #question_question, #question_tag_name {
  font-family: "arial";
  background-color: #1f2122;
  color: white;
}


// 一覧画面
.my-questions {
  padding-top: 15px;
  padding-bottom: 15px;
}

.question-body p {
  width: 100%;
  word-wrap: break-word;
}

.question-user-name{
  color: #ec6090;
  font-size: 25px;
}

.user_image_question {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.question-images {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.question-image {
  aspect-ratio: 3/2;
  margin: 10px 5px 5px 5px;
  width: 30%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.question-title strong{
  border-bottom: 1px groove #ec6090;
}

.question-contents {
  font-family: "arial";
  color: #BBBBBB;
}

.show-link{
  margin-right: 20px;
}

.up-time{
  float: right;
}

@media screen and (max-width:425px) {
.my-questions {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: none;
  padding-left: none;
}

.question-user-name{
  color: #ec6090;
  font-size: 25px;
}

.question-body p {
  width: 100%;
  word-wrap: break-word;
}

.question-user-name{
  color: #ec6090;
  font-size: 15px;
}

.user_image_question {
  aspect-ratio: 1/1;
  width: 30%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.question-images {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.question-image {
  aspect-ratio: 1/1;
  margin: 5px 3px 3px 3px;
  width: 30%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.question-title strong{
  border-bottom: 1px groove #ec6090;
}

.question-contents {
  font-family: "arial";
  color: #BBBBBB;
}

.show-link{
  margin-right: 20px;
}

.up-time{
  float: right;
}

p, .my-questions span {
  font-size: 20px;
}
}

@media screen and (max-width:375px) {
.my-questions {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: none;
  padding-left: none;
}

.question-body p {
  width: 100%;
  word-wrap: break-word;
}

.question-user-name{
  color: #ec6090;
  font-size: 15px;
}

.user_image_question {
  aspect-ratio: 1/1;
  width: 30%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.question-images {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.question-image {
  aspect-ratio: 1/1;
  margin: 5px 3px 3px 3px;
  width: 30%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.question-title{
  font-size: 15px;
}

.question-title strong{
  border-bottom: 1px groove #ec6090;
}

.question-contents {
  font-family: "arial";
  color: #BBBBBB;
}

.show-link{
  margin-right: 20px;
}

.up-time{
  float: right;
  font-size: 15px;
}

p, .my-questions span {
  font-size: 15px;
}

.up-button input, .up-button a {
  font-size: 20px;
  color: #ec6090;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 50px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
  // border: 1px solid #ec6090;
  // border-radius: 100px;
  margin: 15px;
  padding: 15px;
}
}