// Place all the styles related to the public/questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// 投稿画面

.container{
  max-width: 1320px;
}

body .page-content {
  margin-top: 50px;
  background-color: #27292a;
  padding: 30px;
  border-radius: 23px;
}

h1 span{
  color: #ec6090;
  font-size: 40px;
}

#question_title, #question_question_images, #question_question, #question_tag_name {
  background-color: black;
  color: white;
}


// 一覧画面

.user-info, .my-questions-title, .tag-title{
  padding-bottom: 25px;
}

.user-info span, .my-questions-title span, .tag-title span {
  color: #ec6090;
}

.user-info strong, .my-questions-title strong, .tag-title strong {
  border-bottom: 3px groove #ec6090 ;
}

.my-questions {
  padding-top: 15px;
  padding-bottom: 15px;
}

.question-body p {
  width: 100%;
  word-wrap: break-word;
}

.question-user-name{
  color: #ec6090;
  font-size: 25px;
}

.user_image_question {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.question-images {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.question-image {
  aspect-ratio: 1/1;
  margin: 10px 5px 5px 5px;
  width: 20%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.question-title strong{
  border-bottom: 1px groove #ec6090;
}

.show-link{
  margin-right: 20px;
}

.main-profile ul {
  border-radius: 23px;
  padding: 30px;
  background-color: #27292a;
}

.main-profile ul li {
  width: 100%;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #666;
  list-style: none;
}

.main-profile ul li span {
  float: right;
  font-weight: 500;
  color: #ec6090;
}

.main-border-button {
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: center;
}

.main-border-button a {
  font-size: 14px;
  color: #ec6090;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
}

.align-self-center {
  align-self: center!important;
}

.main-info p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #ec6090;
  border-bottom: 7px groove #ec6090 ;
  padding-bottom: 15px;
}

.tag-name{
  color: #ec6090;
}

.tag-list {
  margin: 25px;
  width: 100%;
}

.tag-list a {
  font-size: 14px;
  color: white;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
  // border: 1px solid #ec6090;
  // border-radius: 100px;
  margin: 10px;
  padding: 10px;
}

.up-time{
  float: right;
}

.my-questions-title {
  padding-bottom: 60px;
}

.user-info, .tag-title{
  padding-bottom: 30px;
}

.user-info span, .my-questions-title span, .tag-title span {
  color: #ec6090;
}

.user-info strong, .my-questions-title strong, .tag-title strong {
  padding: 0.1rem 0.7rem;
  border-left: solid 20px #FF82B2 ;
  border-bottom: solid 2px #FF82B2 ;
}