// Place all the styles related to the public/questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
  max-width: 1320px;
}

body .page-content {
  margin-top: 50px;
  background-color: #27292a;
  padding: 30px;
  border-radius: 23px;
}

h1 span{
  color: #ec6090;
  font-size: 40px;
}

#question_title, #question_image, #question_question, #question_tag_name {
  background-color: black;
  color: white;
}

