// タグ一覧
.tag-list {
  margin: 25px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webpack-box;
  // line-height: 40px;
  // max-height: calc(37px*5);
}

.tag-list-search {
  margin: 25px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webpack-box;
}

.tag-list a {
  font-size: 14px;
  color: white;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
  // border: 1px solid #ec6090;
  // border-radius: 100px;
  margin: 10px;
  padding: 10px;
}

.tag-list-search a {
  font-size: 14px;
  color: white;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
  // border: 1px solid #ec6090;
  // border-radius: 100px;
  margin: 10px;
  padding: 10px;
}

@media screen and (max-width:425px) {
  .tag-list {
    margin: 15px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webpack-box;
    // line-height: 40px;
    // max-height: calc(40px*5);
  }

  .tag-list a {
    font-size: 7px;
    color: white;
    background-color: transparent;
    border: 1px solid #ec6090;
    padding: 7px 10px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    text-decoration: none !important;
    // border: 1px solid #ec6090;
    // border-radius: 100px;
    margin: 5px;
    padding: 5px;
  }
}

@media screen and (max-width:375px) {
  .tag-list {
    margin: 10px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webpack-box;
    // line-height: 40px;
    // max-height: calc(40px*5);
  }

  .tag-list a {
    font-size: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid #ec6090;
    padding: 7px 10px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    text-decoration: none !important;
    // border: 1px solid #ec6090;
    // border-radius: 100px;
    margin: 5px;
    padding: 5px;
  }
}