// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

// html,
// body {
//   height: 100%;
// }

// body {
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: center;
//   align-items: center;
//   padding-top: 60px;
//   padding-bottom: 40px;
// }

// ログイン画面
.new_user{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.new_user .checkbox {
  font-weight: 400;
}

.new_user .field:focus {
  z-index: 2;
}
.new_user input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 300px;
  height: 50px;
}
.new_user input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 300px;
  height: 50px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

// マイページ

.container{
  max-width: 1320px;
}

body .page-content {
  margin-top: 5px;
  background-color: #27292a;
  padding: 30px;
  border-radius: 23px;
}

// ユーザー情報と投稿フォーム
.main-profile {
  border-radius: 23px;
  padding: 30px;
  background-color: #1f2122;
}

.user-image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.main-profile ul {
  width: 100%;
  border-radius: 23px;
  padding: 20px;
  margin-bottom: 0;
  background-color: #27292a;
}

.main-profile ul li {
  width: 100%;
  font-size: 14px;
  color: #ec6090;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  list-style: none;
}

.main-profile ul li span {
  float: right;
  font-weight: 500;
  color: #BBBBBB;
  word-wrap: break-word;
}

.users-introduction {
  width: 100%;
  color: #BBBBBB;
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 0;
}

.main-border-button {
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}

.main-border-button a {
  font-size: 14px;
  color: #ec6090;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
}

h2 {
  margin-top: 2px;
  margin-bottom: 10px;
  color: #ec6090;
  border-bottom: 5px groove #ec6090 ;
  padding-bottom: 5px;
}

#question_title, #question_question_images, #question_question, #question_tag_name {
  font-family: "arial";
  background-color: #1f2122;
  color: white;
}

#question_title {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

#question_question_images, #question_tag_name {
  border-radius: 0;
  border-bottom: none;
}

#question_question {
  border-radius: 0 0 10px 10px;
}

.up-button{
  margin-top: 3px;
  text-align: center;
}

.up-button input{
  font-size: 14px;
  color: #ec6090;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
  // border: 1px solid #ec6090;
  // border-radius: 100px;
  margin: 10px;
  padding: 10px;
}

// 自分の質問一覧
.my-questions {
  padding-top: 15px;
  padding-bottom: 15px;
}

.question-body p {
  width: 100%;
  word-wrap: break-word;
}

.question-user-name{
  color: #ec6090;
  font-size: 25px;
}

.user_image_question {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.question-images {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.question-image {
  aspect-ratio: 3/2;
  margin: 10px 5px 5px 5px;
  width: 30%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.question-title strong{
  border-bottom: 1px groove #ec6090;
  font-family: "arial";
}

.question-contents {
  font-family: "arial";
  color: #BBBBBB;
}

.show-link{
  margin-right: 20px;
}


.align-self-center {
  align-self: center!important;
}

.question_user_name {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.up-time{
}

.content-border {
  border-bottom: 2px solid #666;
}

@media screen and (max-width:425px) {

body .page-content {
  margin-top: 5px;
  background-color: #27292a;
  padding: 5px;
  border-radius: 23px;
}

.my-questions {
  padding-top: 10px;
  padding-bottom: 10px;
}

.question-body p {
  width: 100%;
  word-wrap: break-word;
}

.question-user-name{
  color: #ec6090;
  font-size: 20px;
}

.user_image_question {
  aspect-ratio: 1/1;
  width: 30%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.question-images {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.question-image {
  aspect-ratio: 1/1;
  margin: 5px 3px 3px 3px;
  width: 30%;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

.question-title strong{
  border-bottom: 1px groove #ec6090;
}

.question-contents {
  font-family: "arial";
  color: #BBBBBB;
}

.show-link{
  margin-right: 20px;
}

.up-time{
  font-size: 12px;
}
}
