.container{
  max-width: 1320px;
}

body .page-content {
  margin-top: 30px;
  background-color: #27292a;
  padding: 30px;
  border-radius: 23px;
}

h1 span{
  color: #ec6090;
  font-size: 40px;
}

.quite, .quite-msg {
  text-align: center;
  font-size: 30px;
}

.quite-msg span{
  color: #FFBEDA;
}


.up-button, .up-button-delete{
  margin-top: 3px;
  text-align: center;
}

.up-button a{
  font-size: 25px;
  color: #ec6090;
  background-color: transparent;
  border: 1px solid #ec6090;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 50px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
  // border: 1px solid #ec6090;
  // border-radius: 100px;
  margin: 5px;
  padding: 17px;
}

.up-button-delete a{
  font-size: 25px;
  color: red;
  background-color: transparent;
  border: 1px solid red;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 50px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
  // border: 1px solid #ec6090;
  // border-radius: 100px;
  margin: 5px;
  padding: 17px;
}